<template>
  <ul class="list-group">
    <li class="list-group-item font-weight-bold">
      <div class="row">
        <div class="col-sm-2">Lot ID</div>
        <div class="col-sm-2">Title</div>
        <div class="col-sm-8">Owner</div>
      </div>
    </li>
    <li v-for="lot in lots" class="list-group-item" :key="lot.id">
      <div class="row">
        <div class="col-sm-2">
          <code>
            <router-link :to="{ name: 'lot', params: { id: lot.id } }" class="break-word">{{ lot.id }}</router-link>
          </code>
        </div>
        <div class="col-sm-2">
          <router-link :to="{ name: 'lot', params: { id: lot.id } }" class="break-word">{{ lot.lot_info.title }}</router-link>
        </div>
        <div class="col-sm-8">
          <code>
            <router-link :to="{ name: 'user', params: { publicKey: lot.owner } }" class="break-word">{{ lot.owner }}</router-link>
          </code>
        </div>
      </div>
    </li>
  </ul>
</template>

<script>
  import { mapState } from 'vuex'

  module.exports = {
    name: 'lot-list',
    components: {},
    props: ['lots']
  }
</script>