<template>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3"><strong>Name:</strong></div>
        <div class="col-sm-9">{{ user.name }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3"><strong>Public key:</strong></div>
        <div class="col-sm-9">
          <code>{{ user.public_key }}</code>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3"><strong>Balance:</strong></div>
        <div class="col-sm-9">{{ user.balance }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3"><strong>Reserved balance:</strong></div>
        <div class="col-sm-9">{{ user.reserved }}</div>
      </div>
    </li>
  </ul>
</template>

<script>
  import { mapState } from 'vuex'

  module.exports = {
    components: {},
    props: ['user'],
    computed: mapState({
      keyPair: state => state.keyPair
    })
  }
</script>