<template>
  <div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-12">
          <h1>Auction</h1>
          <hr>
          <div class="row mt-3">
            <div v-if="auction.auction_info" class="col-sm-6 col-md-4">
              <h2>Summary</h2>
              <ul class="list-group mt-3">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3"><strong>ID:</strong></div>
                    <div class="col-sm-9">{{ id }}</div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3"><strong>Started at:</strong></div>
                    <div class="col-sm-9">{{ $moment.getDate(auction.started_at) }}</div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3"><strong>Start price:</strong></div>
                    <div class="col-sm-9">{{ auction.auction_info.start_price }}</div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3"><strong>Bidding Merkle root:</strong></div>
                    <div class="col-sm-9">
                      <code>{{ auction.bidding_merkle_root }}</code>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4">
              <h2>Lot</h2>
              <ul class="list-group mt-3">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3"><strong>Title:</strong></div>
                    <div class="col-sm-9">{{ lot_info.title }}</div>
                  </div>
                </li>
                <li v-if="owner" class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3"><strong>Owner:</strong></div>
                    <div class="col-sm-9">
                      <code>
                        <router-link :to="{ name: 'user', params: { publicKey: owner } }" class="break-word">{{ owner }}</router-link>
                      </code>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-sm-6">
              <h2>Bids</h2>
              <ul class="list-group mt-3">
                <li class="list-group-item font-weight-bold">
                  <div class="row">
                    <div class="col-sm-6">User</div>
                    <div class="col-sm-6">Price</div>
                  </div>
                </li>
                <li v-for="bid in bids" class="list-group-item">
                  <div class="row">
                    <div class="col-sm-6">
                      <code>
                        <router-link :to="{ name: 'user', params: { publicKey: bid.bidder } }" class="break-word">{{ bid.bidder }}</router-link>
                      </code>
                    </div>
                    <div class="col-sm-3">{{ bid.value }}</div>
                  </div>
                </li>
              </ul>
            </div>
            <div v-if="!auction.closed && owner !== keyPair.publicKey" class="col-sm-6">
              <h2>Make bid</h2>
              <form class="mt-3" @submit.prevent="makeBid">
                <div class="form-group">
                  <label class="control-label">Price:</label>
                  <input v-model="price" type="number" class="form-control" placeholder="Enter price" min="0" required>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Make bid</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <spinner :visible="isSpinnerVisible"/>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Spinner from '../components/Spinner.vue'

  module.exports = {
    components: {
      Spinner,
    },
    props: ['id'],
    data() {
      return {
        auction: {},
        lot_info: {},
        owner: '',
        bids: [],
        isSpinnerVisible: false
      }
    },
    computed: mapState({
      keyPair: state => state.keyPair
    }),
    methods: {
      async loadAuction() {
        this.isSpinnerVisible = true

        try {
          const data = await this.$blockchain.getAuction(this.id)
          this.auction = data[0]
          this.bids = data[1]
          this.isSpinnerVisible = false
          this.loadLot()
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async loadLot() {
        this.isSpinnerVisible = true

        try {
          const data = await this.$blockchain.getLot(this.auction.auction_info.lot_id)
          this.lot_info = data.lot_info
          this.owner = data.owner
          this.isSpinnerVisible = false
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async makeBid() {
        this.isSpinnerVisible = true

        try {
          await this.$blockchain.makeBid(this.keyPair, this.id, this.price)
          this.isSpinnerVisible = false
          this.$notify('success', 'Transaction accepted')
          this.loadAuction()
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      }
    },
    mounted() {
      this.$nextTick(function() {
        this.loadAuction()
      })
    }
  }
</script>