<template>
  <div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-12">
          <h1>My cabinet</h1>
          <hr>
          <div class="row mt-3">
            <div class="col-sm-4">
              <h2>My profile</h2>
              <user-summary :user="user" class="mt-3"/>
              <button class="btn btn-lg btn-block btn-primary mt-3" @click.prevent="issue">Issue funds</button>
            </div>
            <div class="col-sm-4">
              <h2>Create auction</h2>
              <form class="mt-3" @submit.prevent="createAuction">
                <div class="form-group">
                  <label class="control-label">Lot:</label>
                  <select v-model="lot" class="form-control" required>
                    <option v-for="lot in lots" class="form-control" :value="lot.id">{{ lot.lot_info.title }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Price:</label>
                  <input v-model="price" type="number" class="form-control" placeholder="Enter price" min="0" required>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Create</button>
              </form>
            </div>
            <div class="col-sm-4">
              <h2>Create lot</h2>
              <form class="mt-3" @submit.prevent="makeLot">
                <div class="form-group">
                  <label class="control-label">Title:</label>
                  <input v-model="title" type="text" class="form-control" placeholder="Enter title" maxlength="260" required>
                </div>
                <div class="form-group">
                  <label class="control-label">Description:</label>
                  <input v-model="desc" type="text" class="form-control" placeholder="Enter description" maxlength="260" required>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Create</button>
              </form>
            </div>
          </div>
          <h2 class="mt-5">My lots</h2>
          <lot-list :lots="lots" class="mt-3"/>
          <h2 class="mt-5">My auctions</h2>
          <auction-list :auctions="auctions" class="mt-3"/>
        </div>
      </div>
    </div>

    <spinner :visible="isSpinnerVisible"/>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Spinner from '../components/Spinner.vue'
  import UserSummary from '../components/UserSummary.vue'
  import LotList from '../components/LotList.vue'
  import AuctionList from '../components/AuctionList.vue'

  module.exports = {
    components: {
      Spinner,
      UserSummary,
      LotList,
      AuctionList
    },
    data() {
      return {
        user: {},
        lots: [],
        auctions: [],
        isSpinnerVisible: false
      }
    },
    computed: mapState({
      keyPair: state => state.keyPair
    }),
    methods: {
      async loadUser() {
        if (this.keyPair === null) {
          this.$store.commit('logout')
          this.$router.push({name: 'auth'})
          return
        }

        this.isSpinnerVisible = true

        try {
          this.user = await this.$blockchain.getUser(this.keyPair.publicKey)
          this.isSpinnerVisible = false
          this.loadLots()
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
          this.$store.commit('logout')
          this.$router.push({name: 'auth'})
        }
      },

      async loadLots() {
        this.isSpinnerVisible = true

        try {
          this.lots = await this.$blockchain.getUserLots(this.keyPair.publicKey)
          this.isSpinnerVisible = false
          this.loadAuctions()
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async loadAuctions() {
        this.isSpinnerVisible = true

        try {
          this.auctions = await this.$blockchain.getUserAuctions(this.keyPair.publicKey)
          this.isSpinnerVisible = false
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async issue() {
        this.isSpinnerVisible = true

        try {
          await this.$blockchain.issue(this.keyPair)
          this.isSpinnerVisible = false
          this.$notify('success', 'Transaction accepted')
          this.loadUser()
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async makeLot() {
        this.isSpinnerVisible = true

        try {
          await this.$blockchain.makeLot(this.keyPair, this.title, this.desc)
          this.isSpinnerVisible = false
          this.$notify('success', 'Transaction accepted')
          this.loadUser()
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async createAuction() {
        this.isSpinnerVisible = true

        try {
          await this.$blockchain.createAuction(this.keyPair, this.lot, this.price,)
          this.isSpinnerVisible = false
          this.$notify('success', 'Transaction accepted')
          this.loadUser()
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      }
    },
    mounted() {
      this.$nextTick(function() {
        this.loadUser()
      })
    }
  }
</script>