<template>
  <div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-12">
          <h1>All lots</h1>
          <lot-list :lots="lots" class="mt-3"/>
        </div>
      </div>
    </div>

    <spinner :visible="isSpinnerVisible"/>
  </div>
</template>

<script>
  import Spinner from '../components/Spinner.vue'
  import LotList from '../components/LotList.vue'

  module.exports = {
    components: {
      Spinner,
      LotList
    },
    data() {
      return {
        lots: [],
        isSpinnerVisible: false
      }
    },
    methods: {
      async loadLots() {
        this.isSpinnerVisible = true

        try {
          this.lots = await this.$blockchain.getLots()
          this.isSpinnerVisible = false
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      }
    },
    mounted() {
      this.$nextTick(function() {
        this.loadLots()
      })
    }
  }
</script>